body {
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  background-color: black;
  font-family: serif;
  overflow: hidden;
  cursor: none;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------------------
Starfield
-----------------------------------------------------------------------------*/

main#field {
  z-index: -1;
  display: block;
  position: absolute;
  left: 0px; right: 0px; top: 0px; bottom: 0px;
  overflow: hidden;
  cursor: none;
}
main#field span {
  display: block;
  position: absolute;
  min-width: 1px;
  min-height: 1px;
  color: white;
  cursor: none;
}

/*-----------------------------------------------------------------------------
Console
-----------------------------------------------------------------------------*/

main#console {
  z-index: 4;
  font-family: "Courier New", Courier, monospace;
  cursor: none;
  position: absolute;
  display: block;
  left: 10%;
  bottom: 25%;
  width: 80%;
  height: auto;
  color: rgb(0,255,0);
}

/*-----------------------------------------------------------------------------
Menu
-----------------------------------------------------------------------------*/

main#menu {
  z-index: 6;
  cursor: none;
  position: absolute;
  display: block;
  left: 0px;
  right: 0px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
main#menu div.select:before {
  content: '> ';
}
main#menu div.select:after {
  content: ' <';
}

/*-----------------------------------------------------------------------------
Panel
-----------------------------------------------------------------------------*/

main#panel {
  z-index: 5;
  font-family: serif;
  position: absolute;
  display: block;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
main#panel div span#panel_v_label {
  color: green;
}
main#panel div span#panel_v_content {
  color: green;
}
main#panel div span#panel_k_label {
  color: purple;
}
main#panel div span#panel_k_content {
  color: purple;
}
main#panel div span#panel_e_label {
  color: yellow;
}
main#panel div span#panel_e_content {
  color: yellow;
}
main#panel div span#panel_t_label {
  color: green;
}
main#panel div span#panel_t_content {
  color: green;
}
main#panel div span#panel_y_label {
  color: green;
}
main#panel div span#panel_y_content {
  color: green;
}
main#panel div span#panel_x_label {
  color: purple;
}
main#panel div span#panel_x_content {
  color: green;
}
main#panel div span#panel_z_label {
  color: yellow;
}
main#panel div span#panel_z_content {
  color: green;
}

/*-----------------------------------------------------------------------------
Screen-top label
-----------------------------------------------------------------------------*/
main#label {
  display: block;
  position: absolute;
  text-align: center;
  font-family: sans-serif;
  left: 0px;
  right: 0px;
  top: 5%;
  color: white;
}

/*-----------------------------------------------------------------------------
Shields
-----------------------------------------------------------------------------*/
main#shield {
  z-index: 1;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  opacity: 0.10;
  filter: alpha(opacity=10);
  background-color: blue;
  cursor: none;
}
